@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


@layer base {
  /* 全局字体 */
  body {
    @apply font-sans text-gray-800 tracking-wide antialiased;
  }

  h1 {
    @apply text-5xl md:text-6xl font-bold mb-4;
  }
  /* Section 主标题（About / Projects / Contact / Experience） */
  section h2 {
    @apply text-4xl font-bold text-center mb-16 
            text-sky-700 dark:text-sky-300;
  }

  /* 所有段落统一样式 */
  section p {
    @apply mt-2 text-gray-700 dark:text-gray-300 ;
  }

  /* 所有卡片（Projects / Experience）统一 */
  .card {
    @apply border border-gray-200 rounded-xl p-6 shadow-sm hover:shadow-md transition-all;
  }

  /* 按钮统一 */
  .btn {
    @apply px-6 py-3 border border-gray-900 rounded-lg 
           hover:bg-black hover:text-white transition-all font-medium;
  }

  nav {
    @apply flex justify-between items-center py-6 px-8 fixed top-0 left-0 right-0 backdrop-blur-md z-50;
  }

  /* Navbar 字体统一 */
  nav a {
    @apply text-sky-700 hover:text-black transition-colors tracking-wide; dark:text-sky-300;
  }

}